{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact | Django Dummy</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
    </nav>

    <section class="container">
        <h1>Contact Us</h1>
        <p>Email: test@django.com</p>
        <p>Phone: +91 99999 99999</p>
    </section>
</body>
</html>
